.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.modal-media-header{
  background-color: #3f51b5 !important;
  color:whitesmoke
}
.text-primary{
  font-weight: 490 !important;
  color: #3f51b5 !important;
}
.bg-primary,.btn-primary,.modal-media-header{
  background-color: #3f51b5 !important;
}
table.dataTable.dtr-inline.collapsed>tbody>tr>td:first-child:before,
table.dataTable.dtr-inline.collapsed>tbody>tr>th:first-child:before {
    display:none!important
}

.table thead tr th{
  height: 5px !important;
  color:whitesmoke !important;
  text-align:left;
  font-size: 13px;
  background-color: #3f51b5;
  padding-top: 9px;
  padding-bottom: 9px;
  
}
.table tbody tr td{
  height: 5px !important;
 /*color:rgb(114, 107, 107) !important; */
  text-align:left;
   font-size: 13px;
  /*font-style: italic; */
  padding-top: 7px;
  padding-bottom:7px;
  
}


.bg-mycolor{
  background-color: #192965;
  background: 'rgb(2,0,36)';
    background: 'linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 41%, rgba(0,212,255,1) 100%)';
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
td{
  text-align: center;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.react-datepicker__input-container {
  width: inherit;
}

.react-datepicker-wrapper {
  width: 100%;
}